body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
}

header h1 {
  font-size: 2em;
  color: #ff6600; /* Aperture orange */
}

#frequency-display {
  font-size: 1.5em;
  margin-bottom: 20px;
}

audio {
  margin: 20px 0;
  width: 80%;
}

input[type="range"] {
  width: 60%;
  margin-top: 20px;
}

#admin-panel {
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  background-color: #f0f0f0;
}
